/*PC*/
@media screen and (min-width:992px) {
    .mobile-header {
        display: none;
    }

    .toogle-menu {
        display: none;
    }
}

/*table + mobile*/
@media screen and (max-width:991px) {

    .navbar {
        position: relative;
    }

    .logo-header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toogle-menu svg {
        width: 24px;
        color: #666
    }

    .menu-overlay {
        z-index: 1;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        z-index: 2;
        position: fixed;
        padding: 40px;
        inset: 0 40% 0 0;
        background-color: #fff;
        transform: translateX(-100%);
        transition: 0.5s ease;

    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked~.menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked~.menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1px solid #666;
    }

    /*HERO */

    .hero-img {
        display: none;
    }

    .hero-wrap .info {
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }

    .descr {
        width: 81%;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.78;
        color: #5a6473;
        margin: 30px auto 0;
    }

    .client .images {
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .row-top {
        flex-direction: column;
    }

    .list {
        flex-wrap: wrap;

    }

    .stats .info {
        order: 1;
        width: 100%;
        padding: 0;

    }



    .stats .info .sub-title {
        width: 72%;
    }

    .stats .info .desc {
        width: 100%;
    }

    .stats .img-block {
        margin-top: 30px;
        order: 2;
        text-align: center;
        width: 100%;
    }

    .image {
        display: none;
    }

    .footer .row-footer {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .stats .qty-item .qty {
        font-size: 5.4rem;
    }

    .guide-item {
        margin: 0 60px;
    }
}

/*table*/
@media screen and (min-width:768px) and (max-width:991px) {


    .action-link__mobile {
        display: none;
    }
}

/*mobile*/
@media screen and (max-width:767px) {
    .action {
        display: none;
    }

    .hero-wrap {
        height: calc(100vh - -177px);
    }

    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .list-guide {
        flex-direction: column;
        gap: 30px;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .subcription .info {
        margin: 0;
    }

    .subcription .desc {
        width: 67%;
        margin: 10px auto 0;
        text-align: center;
    }

    .subcription .sub-btn {

        display: block;
        margin: 10px auto 0;
    }

    .stats .row-qty {
        flex-direction: column;
        align-items: center;
    }

    .subcription .sub-title {
        margin: 0px auto;
        width: 69%;
        text-align: center;
        font-size: 2.5rem;
    }

    .footer .row-footer {
        flex-direction: column;
        gap: 60px;
    }
}